#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.time-display {
  font-size: 4rem;
  font-weight: bold;
  color: #e4e4e4;
  margin-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
}

.data-display {
  font-size: 1.8rem;
  color: #e4e4e4;
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
}

@media (max-width: 975px) {
  .time-display {
    font-size: 3rem;
  }
  .data-display {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 748px) {
  .time-display {
    font-size: 2rem;
  }
  .data-display {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

@media (max-height: 700px) {
  .time-display {
    font-size: 3rem;
  }
  .data-display {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

@media (max-height: 570px) {
  .time-display {
    font-size: 2rem;
  }
  .data-display {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}
